---
import Layout from '../layouts/Layout.astro';
import Ticket from '../components/Ticket.astro';
import ShippingLabel from '../components/ShippingLabel.astro';
import ExperienceMap from '../components/ExperienceMap.astro';
---

<Layout>
    <section>
        <Ticket />
    </section>
    <section>
        <ShippingLabel />
    </section>
    <section>
        <ExperienceMap />
    </section>
</Layout>
